useDynLib(msutils, .registration = TRUE)

export(bin_to_df)
export(bin_to_json)
export(bin_to_mzml)
export(calculate_baseline)
export(calculate_eic)
export(find_feature)
export(find_features)
export(find_peaks)
export(get_peak)
export(get_peaks_from_eic)
export(get_peaks_from_chrom)
export(parse_mzml)
export(convert_mzml_to_bin)
export(parse_bin)
export(parse_mzmlb)