useDynLib(quantion, .registration = TRUE)

export(ion_to_mzml)
export(mzml_to_ion)
export(mzml_to_ion_file)
export(calculate_baseline)
export(calculate_eic)
export(find_noise_level)
export(get_scans)
export(find_feature)
export(find_features)
export(find_peaks)
export(get_features)
export(get_peak)
export(fit_peak)
export(draw_peak)
export(get_peaks_from_eic)
export(get_peaks_from_chrom)
export(parse_mzml)
export(parse_ion)
export(parse_ion_raw)
export(parse_ion_remote)
export(parse_ion_path)
export(dispose)
